extends ../layouts/common
block content
  h1  Product
  form.mr-2.mb-5(action="/products", method="GET")
    .form-group.d-flex.justify-content-end.row
      input#name.form-control.col-3(type='text', aria-describedby='emailHelp', placeholder='Enter name',name="search")
      button.btn.btn-success(type='submit') Search
  .row
    each product in products
      .col-sm-6.col-md-4.col-lg-3
        .card.h-100.mb-3
          img.card-img-top(src=product.image, alt='...')
          .card-body
            h5.card-title= product.name
            p.card-text= product.description
            a.btn.btn-primary(href='/cart/add/'+ product.id) Get Detail
